{% extends 'shows/base.html' %}
{% load static %}
{% block content %}
    <table class="table align-middle text-center">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Network</th>
            <th scope="col"><a href="{% url 'shows:allshows' %}?sort=released_date">Release Date</</th>
            <th scope="col">Action</th>
        </tr> 
        {% for show in page_obj %}
        <tr>
            <td><a href="{% url 'shows:show_detail' show.id %}">{{ show.id }}</a></td>
            <td>{{ show.title }}</td>
            <td>{{ show.network }}</td>
            <td>{{ show.released_date }}</td>
            <td>
                <a class='btn btn-primary' href="{% url 'shows:show_detail' show.id %}">Show</a>
                <a class='btn btn-secondary' href="{% url 'shows:edit_show' show.id %}">Edit</a>
                <a class='btn btn-danger' href="{% url 'shows:delete_show' show.id%}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <nav aria-label="...">
        <ul class="pagination pagination justify-content-center">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">Top</a>
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <i class="fas fa-hand-point-left"></i>
                            </a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">
                            <i class="fas fa-hand-point-right"></i>
                        </a>
                        <a href="?page={{page_obj.paginator.num_pages }}">Bottom</a>
                    {% endif %}
                </span>
            </div>
        </ul>
    </nav>
 
{% endblock content %}