{% extends 'shows/base.html' %}
{% load static %}
{% block content %}
    {% if searched %}
        <table class='table align-middle'>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            {% for show in searched_show %}
            <tbody>
                <tr>  
                    <td>
                        <img src="/media/{{ show.image }}" width="200px" height="150px" alt="{{ show.title }}">
                    </td>
                    <td class="description"><h5>{{ show.title }}</h5></td>
                    <td class="description">
                        <p>{{ show.description }}</p>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    {% else %}
    <h3>Sorry... Make sure you searhed something...</h3>
    {% endif %}
{% endblock content %}