{% extends 'shows/base.html' %}
{% load static %}
{% block content %}
    <div class="card" style="width: 18rem">
        <img 
            src="https://i.pinimg.com/originals/c3/88/f5/c388f5d35819f5c8f16d3c0939079ac0.jpg" 
            class="card-img-top"
            alt="the big bang theory">
        <div class="card-body">
            <h5 class="card-title">Introduction</h5>
            <p class='card-text'>
                {{ this_show.description }}
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class='list-group-item'>Title: {{ this_show.title }}</li>
            <li class='list-group-item'>Network: {{ this_show.network }}</li>
            <li class='list-group-item'>Released: {{ this_show.released_date }}</li>
        </ul>
        <div class='card-body'>
            <a class="btn btn-secondary" href="{% url 'shows:edit_show' this_show.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'shows:delete_show' this_show.id %}">Delete</a>
        </div>
    </div>
 
{% endblock content %}