{% extends "learning_logs/base.html" %}
{% block content %}
    <p>Topics</p>
    <ol>
    {% for topic in topics %}
        <a href="{% url 'learning_logs:topic' topic.id %}"><li>{{ topic }}</li></a>
    {% endfor %}
    </ol>   
    <a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a>
    <h3>Login:</h3>
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name='submit'>Login</button>
    </form>
{% endblock content %}
